body {
    padding-top: 70px;
}

.documentation .docsection {
    padding-top: 40px;
    margin-bottom: -40px;
}

.documentation .docsection div {
    padding-left: 5px;
    margin-left: -5px;
    border-radius: 5px;
    padding-bottom: 5px;
}

.documentation .docsection:first-child {
    margin-top: -40px;
}

.documentation {
    margin-bottom: 50px;
}

.documentation h2 {
    font-size: 18pt;
    position: relative;
}

.documentation h2 a:before {
    content: url('/img/link.png');
    position: absolute;
    left: -25px;
    opacity: 0;
    transition: opacity linear 0.2s;
    cursor: pointer;
    width: 10px;
    height: 10px;
    top: 5px;
}

.documentation h2 a:hover:before {
    opacity: 1;
}

.documentation h2 a {
    color: #000;
    cursor: text;
}

.documentation h2 a:hover {
    text-decoration: none;
}

.documentation h3 {
    font-size: 14pt;
    margin: 5px 0;
    border-bottom: 1px solid #ccc;
    max-width: 300px;
}

.documentation dl, .documentation p {
    margin: 0;
}

.documentation .linked div {
    -webkit-animation: fadeColor 3s linear 1;
    animation: fadeColor 3s linear 1;
}

@-webkit-keyframes fadeColor {
    from {
        background-color: #ddd;
    }
    80% {
        background-color: #ddd;
    }
    to {
        background-color: transparent;
    }
}

@keyframes fadeColor {
    from {
        background-color: #ddd;
    }
    80% {
        background-color: #ddd;
    }
    to {
        background-color: transparent;
    }
}

.recording {
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
}

.documentation .docsection .details {
    margin-left: 10px;
}

dd {
    margin-left: 5px;
}

.doc-nav li a {
    padding: 2px 15px;
}

.doc-nav li.active a {
    border-left: 1px solid #000;
}
