html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url('../images/background.png') repeat scroll transparent;
}

#nav {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: #222222; /* Old browsers */
    background: -moz-linear-gradient(top, #222222 0%, #111111 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#111111)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #222222 0%,#111111 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #222222 0%,#111111 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #222222 0%,#111111 100%); /* IE10+ */
    background: linear-gradient(to bottom, #222222 0%,#111111 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
    border-bottom: #252525 1px solid;
    color: #fff;
    padding: 5px;
}

#nav > div {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 16pt;
    position: absolute;
    right: 0;
}

h1 a, h1 a:visited {
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    text-decoration: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

h1 a:hover {
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
    color: #fff;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav ul li {
    float: left;
    padding: 3px 8px;
}

#nav ul li a {
    color: #999;
    text-decoration: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

#nav ul li a:hover {
    color: #fff;
}

#nav ul li a.selected {
    color: #fff;
    font-weight: bold;
}

#container {
    z-index: 1;
    min-height: 100%;
    width: 800px;
    margin: 0 auto;
    position: relative;
    background: #fff;
    box-shadow: 0 0 5px 3px #000;
}

#body {
    padding: 45px 5px 30px 5px;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    border-top: 1px solid #888;
}

.logo {
    position: absolute;
    right: 5px;
    top: 40px;
    z-index: 1;
}

.calcdemo {
    text-align: center;
    position: relative;
    z-index: 0;
    height: 422px;
    width: 800px;
    margin-left: -5px;
    border-bottom: 1px solid #555;
    box-shadow: 0 4px 2px -2px #888;
}

.demo {
    position: absolute;
    top: 130px;
    left: 205px;
}

.left {
    float: left;
}

.right {
    float: right;
}

h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 26pt;
    font-weight: normal;
    padding: 0;
}

h3 {
    margin: 0;
    font-size: 12pt;
    color: #888;
    font-style: italic;
    text-align: center;
    font-weight: normal;
}

a {
    color: #0072C4;
}

a:visited {
    color: #004B82;
}

.download-group {
    width: 600px;
    margin: 0 auto;
}

.download {
    display: inline-block;
    float: left;
    padding: 5px;
    margin: 5px;
    width: 178px;
    background: #ddd;
    height: 190px;
    position: relative;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    border: 1px solid #aaa;
}

.download:hover {
    box-shadow: 0 0 3px 2px #ccc;
}

.download a {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.download p.light {
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

.download h4 {
    margin: 0;
    padding: 0;
    font-size: 24pt;
    font-weight: normal;
}

.download p.hidden {
    opacity: 0;
    font-style: italic;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    color: #555;
}

.download:hover p.hidden {
    opacity: 1;
}

.red, .download p.red {
    color: red;
}

.clearfix {
    clear: both;
}

.center {
    text-align: center;
}

.docitem a.anchor {
    width: 26px;
    height: 26px;
    background: url('../images/link.png') transparent scroll no-repeat;
    position: absolute;
    top: 0;
    left: -40px;
    display: inline-block;
    padding-right: 10px;
    opacity: 0;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.docitem h3 {
    font-style: normal;
    text-align: left;
    font-size: 16pt;
    font-weight: bold;
    position: relative;
    margin: 5px auto;
}

.docitem h3:hover a.anchor {
    opacity: 1;
}

.docitem .docsection {
    border-left: 2px solid #ccc;
    padding-left: 5px;
}

.docitem  .docsection p {
    margin: 0;
    padding: 0;
}

.docitem h4 {
    margin: 4px 0;
    padding: 0;
}

.linklist p {
    margin: 0;
}
