---
title: KnightOS
layout: base
---

<div id="hero">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="hero-calculator" class="pull-left hidden-xs">
                    <img id="hero-calculator-img" src="/img/calculator.png" alt="Try KnightOS" width="635" height="422">
                    
                    <canvas width="385" height="256" id="screen"></canvas>
                    
                    <div id="hero-calculator-text" class="hero-block">
                        <h3>Try KnightOS!</h3>
                        <p>This is a real calculator running the latest version of KnightOS. Use your arrow keys and F1-F5 to play with it.</p>
                    </div>
                </div>
                
                <div id="hero-introduction" class="hero-block text-center pull-right clearfix">
                    <h1>KnightOS</h1>
                    <h4>An open-source OS for calculators</h4>
                    <a href="/download" class="btn btn-primary btn-block btn-lg">
                        <i class="glyphicon glyphicon-cloud-download"></i> Download
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="body-text" class="row">
        <div class="col-md-4">
            {% for post in site.posts %}
                {% if forloop.index0 < 3 %}
                    <h3>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        <small>{{ post.date | date_to_string }}</small>
                    </h3>
                    {{ post.excerpt }}
                    <p class="text-right">
                        <a href="{{ post.url }}">Read the full article »</a>
                    </p>
                {% endif %}
            {% endfor %}
            <a href="/blog/" class="btn btn-primary bottom-link">Read More »</a>
        </div>
        
        <div class="col-md-4">
            <h3>What is KnightOS?</h3>
            <p>
                KnightOS is an open-source operating system for Texas Instruments calculators.
                It's freely available in both source and binary forms under the terms of the MIT license.
                With KnightOS, you get an unmatched level of freedom and customization over your calculator.
            </p>
            <h3>Why KnightOS?</h3>
            <p>
                If you choose to use KnightOS, you get more memory to play with, more space for your files,
                and loads of great features. KnightOS has a package manager for easy installation of software
                and can run several things at once. If you're into free and open-source software, you'll also
                find KnightOS to be a hacker's paradise.
            </p>
            <h3>Can I use KnightOS?</h3>
            <p>
                KnightOS will run on any upgradable Texas Instruments calculator based on the z80 CPU. This includes the
                TI-73, TI-83+, TI-83+ Silver Edition, TI-84+, TI-84+ Silver Edition, and TI-84+ Color Silver Edition.
                You can also run it on the French variations of these calculators, or in an emulator.
            </p>
            <a href="/download/" class="btn btn-primary bottom-link">Get KnightOS »</a>
        </div>
        
        <div class="col-md-4">
            <h3>Get Involved</h3>
            <p>The best thing about KnightOS, by far, is the open-source nature of it. KnightOS is built by a community
            of developers around the world - a community that you are welcome to join! Even if you aren't a programmer,
            you can help the project grow. If you are interested in writing code, you can help us build KnightOS in
            assembly, C, Python, HTML/CSS, and JavaScript.</p>
            <p>KnightOS development is centered around <a href="https://github.com/KnightOS">GitHub</a>. There are a lot
            of sub-projects and a lot of things to do, so you're welcome to dive in and get started. We track all bugs,
            feature requests, and todo items <a href="https://github.com/KnightOS/KnightOS/issues">here</a>. You can
            browse by programming language and difficulty, so I'm sure there's something there for you.</p>
            <p>Non-programmers can help us work on the user manual, write documentation, triage bugs, and more. We also
            rely a lot on you guys to provide devs with feedback and ideas so that we can make the best OS possible. You
            can even edit this website - click the link at the bottom of each page to get started.</p>
            <p>Regardless of your passion, meet us on IRC at <a href="https://webchat.freenode.net/?channels=knightos&uio=d4">
            #knightos on irc.freenode.net</a> and chat with us. We're happy to have newcomers.</p>
            <a href="/contributing/" class="btn btn-primary bottom-link">Get Started »</a>
        </div>
    </div>
</div>

<script data-main="js/index.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script>
