<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
    {% if page.title == "KnightOS" %}
        {{ page.title }}
    {% else %}
        {{ page.title }} · KnightOS
    {% endif %}
</title>

<link rel="alternate" type="application/rss+xml" title="RSS Feed for knightos.org" href="/blog/rss.xml">
<link rel="icon" type="image/vnd.microsoft.icon" href="//avatars2.githubusercontent.com/u/4286195?v=2&s=200">

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

{% for css in page.extraCss %}
    <link rel="stylesheet" href="{{ css }}">
{% endfor %}

<link rel="stylesheet" href="/css/base.css">

<!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
