<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">KnightOS</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/download/">Download</a></li>
        <li><a href="https://packages.knightos.org">Packages</a></li>
        <li class="dropdown menu-large">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Source Code <b class="caret"></b></a>
          <ul class="dropdown-menu megamenu row">
            <li class="col-md-2 no-justify">
              <h3>KnightOS source code</h3>
              <p>KnightOS is a huge project, with lots of open-source subprojects, all built especially for
              KnightOS. They can all be found under <a href="https://github.com/KnightOS">KnightOS</a> on
              GitHub. Feel free to send some pull requests to help out!</p>
              <p>Hover over each of these subprojects if you don't know what they are.</p>
            </li>
            <li class="col-md-2">
                <ul>
                  <li class="dropdown-header">KnightOS</li>
                  <li>
                    <a href="https://github.com/KnightOS/KnightOS"
                      data-toggle="tooltip" data-placement="bottom" title="The KnightOS userspace, where all programs are collected">
                      KnightOS</a>
                  </li>
                  <li>
                    <a href="https://github.com/KnightOS/kernel"
                      data-toggle="tooltip" data-placement="bottom" title="The KnightOS kernel, which is the foundation of the system">
                      kernel</a>
                  </li>
                  <li>
                    <a href="https://github.com/KnightOS/kpy"
                      data-toggle="tooltip" data-placement="bottom" title="A Python-like language that runs on KnightOS">
                      kpy</a>
                  </li>
                </ul>
            </li>
            <li class="col-md-2">
                <ul>
                  <li class="dropdown-header">Toolchain</li>
                  <li>
                    <a href="https://github.com/KnightOS/sass"
                      data-toggle="tooltip" data-placement="bottom" title="A z80 assembler">
                      sass</a>
                  </li>
                  <li>
                    <a href="https://github.com/KnightOS/kcc"
                      data-toggle="tooltip" data-placement="bottom" title="A C compiler with KnightOS support">
                      kcc</a>
                  </li>
                  <li>
                    <a href="https://github.com/KnightOS/z80e"
                      data-toggle="tooltip" data-placement="bottom" title="A z80 emulator">
                      z80e</a>
                  </li>
                  <li>
                    <a href="https://github.com/KnightOS/mktiupgrade"
                      data-toggle="tooltip" data-placement="bottom" title="Generates and signs OS upgrades for TI calculators">
                      mktiupgrade</a>
                  </li>
                  <li>
                    <a href="https://github.com/KnightOS/kpack"
                      data-toggle="tooltip" data-placement="bottom" title="Packs and unpacks KnightOS packages">
                      kpack</a>
                  </li>
                  <li>
                    <a href="https://github.com/KnightOS/ihex2bin"
                      data-toggle="tooltip" data-placement="bottom" title="Converts intel hex files to binary">
                      ihex2bin</a>
                  </li>
                  <li>
                    <a href="https://github.com/KnightOS/genkfs"
                      data-toggle="tooltip" data-placement="bottom" title="Generates KnightOS filesystem images for ROM dumps">
                      genkfs</a>
                  </li>
                  <li>
                    <a href="https://github.com/KnightOS/patchrom"
                      data-toggle="tooltip" data-placement="bottom" title="Patches jump tables into ROM dumps">
                      patchrom</a>
                  </li>
                  <li>
                    <a href="https://github.com/KnightOS/mkrom"
                      data-toggle="tooltip" data-placement="bottom" title="Generates empty ROM files for various calculators">
                      mkrom</a>
                  </li>
                </ul>
            </li>
            <li class="col-md-2">
                <ul>
                  <li class="dropdown-header">Online</li>
                  <li>
                    <a href="https://github.com/KnightOS/knightos.org"
                      data-toggle="tooltip" data-placement="bottom" title="The code for this website!">
                      knightos.org</a>
                  </li>
                  <li>
                    <a href="https://github.com/KnightOS/packages.knightos.org"
                      data-toggle="tooltip" data-placement="bottom" title="The KnightOS package repository website">
                      packages.knightos.org</a>
                  </li>
                </ul>
            </li>
            <li class="col-md-2">
                <ul>
                  <li class="dropdown-header">Miscellaneous</li>
                  <li>
                    <a href="https://github.com/KnightOS/OpenTI"
                      data-toggle="tooltip" data-placement="bottom" title="JavaScript bindings for the emscripten build of z80e">
                      OpenTI</a>
                  </li>
                  <li>
                    <a href="https://github.com/KnightOS/manual"
                      data-toggle="tooltip" data-placement="bottom" title="The KnightOS user manual, in LaTeX">
                      User Manual</a>
                  </li>
                  <li>
                    <a href="https://github.com/KnightOS/kdoc"
                      data-toggle="tooltip" data-placement="bottom" title="Documentation generator for z80 projects">
                      kdoc</a>
                  </li>
                </ul>
            </li>
          </ul>
        </li>
        <li><a href="/todo.html">Manual</a></li>
        <li><a href="/documentation/">Documentation</a></li>
        <li><a href="http://webchat.freenode.net/?channels=knightos&uio=d4" target="_blank">Chat</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/KnightOS/knightos.org/edit/gh-pages/{{ page.path }}"><span class="glyphicon glyphicon-pencil"></span> Edit this page</a></li>
      </ul>
      {% if include.search %}
      <form class="navbar-form navbar-right" role="search">
        <input type="text" class="form-control" id="search" placeholder="Search docs..." autocomplete=off>
      </form>
      {% endif %}
    </div>
  </div>
</nav>
