<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">KnightOS</a>
            <ul class="nav">
                <li><a href="https://github.com/KnightSoft/KnightOS/releases">Download</a></li>
                <li><a href="https://github.com/KnightSoft/KnightOS">Source Code</a></li>
                <li><a href="/documentation.html">Documentation</a></li>
                <li><a href="http://webchat.freenode.net/?channels=knightos&uio=d4" target="_blank">IRC</a></li>
            </ul>
        </div>
    </div>
</div>
