<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/base.css" />
        <link rel="icon" type="image/vnd.microsoft.icon" href="this space intentionally left blank" />
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/typeahead.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <div class="container">
            {% include nav.html %}
            {{ content }}
        </div>
    </body>
</html>
