<!doctype html>
<html>
<head>
    {% include head.html %}
    
    <script type="text/javascript" src="/js/typeahead.js"></script>
</head>
<body>
    {% include nav.html search=true %}
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="documentation">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
    
    {% include footer.html %}
    
    <script type="text/javascript">
        function updateHash() {
            if (window.location.hash && window.location.hash != '') {
                var item = document.getElementById(window.location.hash.substr(1));
                if (item) {
                    item.classList.add('linked');
                    setTimeout(function() { item.classList.remove('linked'); }, 3000);
                }
            }
        }
        window.addEventListener('hashchange', updateHash);
        updateHash();
    </script>
    
    {% raw %}
    <script type="text/x-template" id="template-empty"><span class="text-muted no-results">No results</span></script>
    <script type="text/x-template" id="template-suggestion">
        <h4>{{name}}</h4>
        <div class="text-muted">{{description}}</div>
    </script>
    {% endraw %}
    <script type="text/javascript" src="/js/documentation.js"></script>
</body>
</html>

