---
layout: base
showTitle: true
---

{% if page.noTitle %}
{% else %}
<div class="sub-hero">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 clearfix">
                <div class="sub-hero-block text-right pull-right">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{ content }}
        </div>
    </div>
</div>